<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% block head_content %} {% endblock %}
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <header>
            {% if current_user.is_authenticated %}
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href=""> <pre>Project Chat     {{ current_user.name }}</pre> </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Second Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Third Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-outline-secondary" href="/logout">Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% else %}
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="">Project Chat</a>
                        <p>
                            <a class="btn btn-outline-primary" href="/register">Регистрация</a>
                            <a class="btn btn-outline-secondary" href="/login">Войти</a>
                        </p>
                    </nav>
                {% endif %}
        </header>
        <main role="main" class="container">
            {% block content %} {% endblock %}
        </main>
    </body>
</html>